<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The OmniChat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&amp;display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@14.0.0/lib/marked.umd.min.js"></script>
</head>
<body style="overflow-x: auto;">
    <div class="container">
        <div class="sidebar">
            <div class="sidebartop">
                <div class="logo">
                    <img src="{{url_for('static',filename='asset/test.png')}}" alt="none">
                </div>
                <div class="logo-mobile">
                    <img src="{{url_for('static',filename='asset/test.png')}}" alt="none">
                </div>
                <div class="menu">
                    <i class="bi bi-list" style="color: black;"></i>
                </div>
            </div>
            <nav>
                <ul>
                    <h2 style="font-family: Kode Mono">Select a model</h2>
                    <select id="model-select" style="background-color: lightcyan;">
                        <option value="gpt-4o">gpt-4o</option>
                        <option value="gpt-4-1106-Preview">gpt-4</option>
                        <option value="gpt-4-32k">gpt-4-32k</option>
                    </select>
                    <!-- <button id="model-parameters" class="btn model-parameters" style="background-color: lightcyan;">Model parameters</button> -->
                    <hr>
                    <!-- <div class="audio-response"  style="display: flex;justify-content:space-between">
                        <p style="font-weight: bold;font-size: larger;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Audio response</p>
                        <input type="checkbox" id="audio-response-checkbox" style="width: 8%;">
                    </div> -->
                    <button id="reset-conversation" class="btn reset-conversation" style="font-family: Kode Mono; background-color: lightcyan;">Reset conversation 🔁</button>
                    <div class="add-section" style="font-family: Kode Mono">
                        <h3 style="text-align: left; margin-top: 20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Add an image</h3>
                        <input type="file" id="image-upload" style="display: none;" accept="image/*">
                        <button id="upload-btn" class="btn upload-btn" style="background-color:lightcyan">Upload ⬇️</button>
                        <button id="camera-btn" class="btn camera-btn" style="background-color:lightcyan">Camera 📸</button>
                        <div id="camera-container" style="position: relative;">
                            <!-- <button id="camera-btn" class="btn camera-btn" style="background-color:lightcyan">Camera 📸</button> -->
                            <button id="capture-btn" class="btn capture-btn" style="display:none;font-size: 25px;background-color: transparent;color: white;cursor: pointer;">📸</button>
                        </div>
                    </div>
                    <div class="add-section" style="font-family: Kode Mono">
                        <h3 style="text-align: left; margin-top: 20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Add an audio</h3>
                        <button id="audio-btn" class="btn audio-btn" style="background-color:lightcyan">Press to talk 🎙️</button>
                    </div>
                </ul>
            </nav>
            <div class="account">
                <div class="avatar">
                    <img src="{{url_for('static',filename='asset/chat.png')}}" alt="">
                </div>
                <div class="name">
                    <h4>{{user.name|capitalize}}</h4>
                    {{user.email}}
                    <i class="bi bi-box-arrow-left" id="logout-icon" style="margin-left: 80px;cursor: pointer;"></i>
                </div>
                
            </div>
        </div>
        <div class="main" style="overflow-x: auto;">
            <div class="row" style="display: flex;">
                <div class="image-logo">
                    <img src="{{url_for('static',filename='asset/chat.png')}}" alt="" style="height:80px">
                </div>
                <h1 style=" font-family:Kode Mono; margin-top: 10px; margin-left: 10px;">Chatmate</h1>
            </div>
            <!-- <div class="chat">
                <div class="chat-area" style="background-color: transparent;width:auto;height:auto" id="chat-container">

                </div>
                <i class="bi bi-chat-dots-fill" style="right: 10px;position: absolute;bottom:-42px" id="chat"></i>
            </div> -->
            <div id="chat-container" style="margin: 15px;"></div>
            <div class="message-input">
                <input type="text" id="message-input" placeholder="Enter your message">
                <button id="send-btn" class="send-btn">&gt;</button>
            </div>
            
        </div> 
    </div>
    
    <script src="{{url_for('static',filename='js/init.js')}}"></script>
    
</body>
</html>